html {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Neucha', cursive;
}

body {
  background-color: #A6DAFF;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
    padding-left: .5em;

}
div {

}

div.a {
  width: 1750px;
  border: 1px solid #000000;
  word-wrap: break-word;
  border: none;
}


table, th, td {
  border: none;
  padding-left: 2.0em;
}

ol {
  list-style: none;
}

hr {
  border: 1px solid blue;
  border-radius: 5px;
}
